[submodule "references/l5x2c"]
	path = references/l5x2c
	url = https://github.com/alairjunior/l5x2c.git
[submodule "references/l5x"]
	path = references/l5x
	url = https://github.com/jvalenzuela/l5x.git
[submodule "references/acd"]
	path = references/acd
	url = https://github.com/hutcheb/acd.git
[submodule "references/L5Sharp"]
	path = references/L5Sharp
	url = https://github.com/tnunnink/L5Sharp.git
[submodule "references/l5x-schema"]
	path = references/l5x-schema
	url = https://github.com/benmusson/l5x-schema.git
[submodule "references/ironplc"]
	path = references/ironplc
	url = https://github.com/ironplc/ironplc.git
[submodule "references/rusty"]
	path = references/rusty
	url = https://github.com/PLC-lang/rusty.git
[submodule "references/trust-platform"]
	path = references/trust-platform
	url = https://github.com/johannesPettersson80/trust-platform.git
[submodule "references/iec-checker"]
	path = references/iec-checker
	url = https://github.com/iec-checker/iec-checker.git
[submodule "references/logix"]
	path = references/logix
	url = https://github.com/ieedan/logix.git
[submodule "references/tree-sitter-iec61131-3-st"]
	path = references/tree-sitter-iec61131-3-st
	url = https://github.com/Zeugwerk/tree-sitter-iec61131-3-st.git
[submodule "references/L5XJS"]
	path = references/L5XJS
	url = https://github.com/cmseaton42/L5XJS.git
[submodule "references/matiec"]
	path = references/matiec
	url = https://github.com/thiagoralves/matiec.git
[submodule "references/blark"]
	path = references/blark
	url = https://github.com/klauer/blark.git
[submodule "references/radevgit-plc"]
	path = references/radevgit-plc
	url = https://github.com/radevgit/plc.git
